name: Deploy Infrastructure and Run Dataflow Job

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Apply Terraform and Trigger Dataflow Job
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=terraform init -input=false
      
      - name: Terraform Plan
        run: terraform -chdir=terraform plan -var="project_id=devops-training-475116" -out=tfplan
        
      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve -var="project_id=devops-training-475116"
        
      - name: Build Dataflow Flex Template
        run: |
          gcloud dataflow flex-template build gs://${{ secrets.GCP_PROJECT_ID }}-raw-buckettt/templates/etl_pipeline_flex.json \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/etl_pipeline_flex_image:latest \
            --sdk-language "PYTHON" \
            --metadata-file .github/metadata.json \
            --python-file gs://${{ secrets.GCP_PROJECT_ID }}-raw-buckettt/etl_pipeline.py 
      
      - name: Run Dataflow Flex Template
        run: |
          gcloud dataflow flex-template run etl-pipeline-$(date +%Y%m%d%H%M%S) \
            --template-file-gcs-location gs://${{ secrets.GCP_PROJECT_ID }}-raw-buckettt/templates/etl_pipeline_flex.json \
            --region=${{ secrets.GCP_REGION }} \
            --parameters inputFile=gs://${{ secrets.GCP_PROJECT_ID }}-raw-buckettt/custom_sales_dataset.csv,outputTable=${{ secrets.GCP_PROJECT_ID }}:cleaned_sales_data.sales_cleaned
              
